@font-face {
    font-family: 'HkGrotesk';
        src: url('HankenGrotesk-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
      }

@font-face {
    font-family: 'HkGrotesk';
        src: url('HankenGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
      }

@font-face {
    font-family: 'HkGrotesk';
        src: url('HankenGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
      }

@font-face {
    font-family: 'HkGrotesk';
        src: url('HankenGrotesk-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
      }


@font-face {
    font-family: 'HkGrotesk';
        src: url('HankenGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
      }


@font-face {
    font-family: 'HkGrotesk';
        src: url('HankenGrotesk-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
      }

@font-face {
    font-family: 'HkGrotesk';
        src: url('HankenGrotesk-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
      }


@font-face {
    font-family: 'HkGrotesk';
        src: url('HankenGrotesk-LightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
      }