
		@font-face {
		    font-family: 'Belgika';
		    src: url('belgika-5th-webfont.woff') format('woff');
		    font-weight: 700;
		    font-style: normal;
		}

		@font-face {
		    font-family: 'Belgika';
		    src: url('belgika-8th-webfont.woff') format('woff');
		    font-weight: 400;
		    font-style: normal;
		}		

		@font-face {
		    font-family: 'Belgika';
		    src: url('belgika-16th-webfont.woff') format('woff');
		    font-weight: 300;
		    font-style: normal;
		}		

		@font-face {
		    font-family: 'Belgika';
		    src: url('belgika-40th-webfont.woff') format('woff');
		    font-weight: 100;
		    font-style: normal;
		}

		@font-face {
		    font-family: 'Gaia';
		    src: url('Gaia-40th-webfont.woff') format('woff');
		    font-weight: 100;
		    font-style: normal;
		}