{# First evaluate Base template, then verse this page#}
{% extends 'partials/base.html.twig' %} 

  <style>@page {size: 100mm 250mm }</style></head>

{% block title %}Poster{% endblock %}

{% block tools %}
  {% include 'tools/_page_poster.html' %}
{% endblock %}

{% block body %}
  List supports
{% endblock %}

