<div  id="background" class="tool buttons drag collapse">
  <div class="divider text-center" data-content="Background">
    <span>Background</span>
  </div>
  <div class="background_tool">
    <h2>cover image</h2>
    <button class="btn" id="hideBack">Color only</button>

    <input class="form-input" id="imgback" accept="image/*" type="file">

    <label class="form-label" for="position horizontal">horizontal</label>
    <input class="slider" id="imgX" name="position horizontal" max="1000" min="-1000" step="1" value="-35" type="range">

    <label class="form-label" for="position vertical">vertical</label>
    <input class="slider" id="imgY" name="position vertical" max="1000" min="-1000" step="1" value="-1000" type="range">

    <label class="form-label" for="size">image size</label>
    <input class="slider" id="imgSize" name="size" max="2000" min="50" step="3" value="398" type="range">
    <button class="btn" id="pattern"> make pattern</button>
  </div>
</div>