<div  id="colors" class="tool buttons drag collapse">
  <div class="divider text-center" data-content="Colors">
    <span>Colors</span>
  </div>

  <div class="colors">
    <div class="color" id="text-area">
      <label class="form-label" for="color-text">Text color</label>
      <input class="form-input" id="text" name="color-text" value="#333" type="color">
    </div>
    <!--
    <div class="color" id="back-area">
      <label class="form-label" for="color-back">Tint color</label>
      <input class="form-input" id="back" name="color-back" value="#fff" type="color">
    </div>
    <div class="color" id="front-area">
      <label class="form-label" for="color-front">Spine color</label>
      <input class="form-input" id="front" name="color-spine" value="#000000" type="color">
    </div>
    <div class="color" id="spine-text">
      <label class="form-label" for="color-front">Spine text color</label>
      <input class="form-input" id="front" name="color-spine-text" value="#000000" type="color">
    </div>
    -->
    <div class="color" id="poster-area">
      <label class="form-label" for="color-poster">Background color</label>
      <input class="form-input" id="poster" name="color-poster" value="#fff" type="color">
    </div>
    <div class="color" id="logo-back">
      <label class="form-label" for="color-back">Logo back color</label>
      <input class="form-input" id="front" name="color-logo-back" value="#000" type="color">
    </div>
       
    <button class="btn" id="colorMask">Tint filter</button>
  </div>
</div>