<div id="logo" class="tool buttons drag collapse" >
	<div class="divider text-center" data-content="manage logos">
		<span>manage logos</span>
	</div>
	<div class="logo_tool">
		<label class="form-label" for="logo-add">Add a logo</label>
		<input class="form-input" id="logo-add" accept="image/*" type="file">
	</div>
</div>