<div id="page_poster "class="tool buttons columns drag" >
	<div class="divider text-center col-12" data-content="Page format">
    	<span>manage logos</span>
	</div>
	<div class="page_poster">
		<div class="t_width">
			<label class="form-label" for="width">page width</label>
			<input class="form-input size" id="width" name="page-width" value="210mm" type="text">
		</div>
		<div class="t_heigth">
			<label class="form-label" for="height">page height</label>
			<input class="form-input size" id="height" name="page-height" value="297mm" type="text">
		</div>
	</div>
</div>