<div  id="zoom" class="tool buttons columns  drag">
  <div class="divider text-center col-12" data-content="Zoom In/Out">
    <span>Zoom in / Out</span>
  </div>
  <div class="col-9">
    <input class="slider" id="ZoomRange" name="navigation zoom" max="10" min=".4" step="any" value="1" type="range">
  </div>
  <div class="col-3">
    <button class="btn btn-sm" id="ZoomReset">Reset</button>
  </div>
</div>