@media print {
  .buttons {
    display: none; }

  .ui {
    display: none; } }
#panel {
  width: 15vw;
  height: auto;
  position: fixed;
  bottom: 2rem;
  z-index: 99999;
  transition: all .2s ease-in-out; }
  #panel.right {
    right: var(--page-bleed); }
    #panel.right #zoom .slider {
      cursor: pointer; }
      #panel.right #zoom .slider :focus {
        box-shadow: inherit; }
  #panel .divider {
    cursor: pointer; }
    #panel .divider span {
      font-size: 0;
      line-height: 0; }

.notification {
  width: 15vw;
  height: auto;
  position: fixed;
  right: var(--page-bleed);
  z-index: 99999;
  transition: all .2s ease-in-out; }

.collapse {
  height: 2rem !important;
  overflow: hidden; }

.buttons {
  font-size: 0.8em;
  padding: 1em 0.6em;
  z-index: 100000;
  background: white;
  color: #acb3c2;
  position: relative;
  top: 10em;
  left: 10em;
  min-width: 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*
      input[type="color"]::-webkit-color-swatch-wrapper,
      input::-webkit-color-swatch-wrapper {
        padding: 0; 
      }
  
      input[type="color"]::-webkit-color-swatch,
      input::-webkit-color-swatch {
        border: none; 
      }*/ }
  .buttons label {
    display: block; }
  .buttons h2 {
    margin: 0;
    font-family: 'overpass';
    padding: 1em;
    font-size: 0.8em; }
  .buttons input[type="color"], .buttons input {
    /*
    margin-left: 1em;
    margin-right: 0em;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 0;
    border: 1px solid transparent;
    display: block; */ }
  .buttons input[type="text"] {
    max-width: 90%;
    min-width: 90px; }
  .buttons .form-input {
    max-width: calc( 100% - .8rem); }
  .buttons .slider:focus {
    box-shadow: none;
    outline: none; }
  .buttons label {
    margin-left: .4em;
    text-transform: uppercase;
    display: inline-block; }
  .buttons #fc {
    margin-left: 3em;
    text-transform: uppercase;
    margin-top: 3em;
    margin-bottom: 3em; }
  .buttons .colors, .buttons .background_tool, .buttons .export, .buttons .logo_tool, .buttons .page_poster, .buttons .zoom, .buttons #tutorial {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: .4rem; }
  .buttons .colors input {
    max-width: inherit; }
  .buttons .colors .color:nth-child(1n) {
    grid-column: 1 / 4; }
  .buttons .colors .color:nth-child(2n) {
    grid-column: 4 / 7; }
  .buttons .colors #colorMask {
    grid-column: 1 / 7;
    margin-top: 2rem; }

.background_tool * {
  grid-column: 1 / 7; }
.background_tool #hideBack {
  margin-bottom: 2rem; }
.background_tool #pattern {
  margin-top: 2rem; }

.export * {
  grid-column: 1 / 7; }
.export #hideBack {
  margin-bottom: 2rem; }
.export #pattern {
  margin-top: 2rem; }

.logo_tool * {
  grid-column: 1 / 7; }

.page_poster * {
  width: 100%; }
.page_poster .t_width {
  grid-column: 1 / 4; }
.page_poster .t_heigth {
  grid-column: 4 / 7; }

.zoom #ZoomRange {
  grid-column: 1 / 5; }
.zoom #ZoomReset {
  grid-column: 5 / 7; }

#tutorial {
  border-color: #acb3c2 !important;
  cursor: pointer;
  float: right; }
  #tutorial .tutorialAction {
    float: right;
    cursor: pointer;
    pointer-events: inherit; }
  #tutorial svg {
    float: right;
    width: 1.5rem;
    margin: -.2rem 0 0 1rem; }
    #tutorial svg path {
      stroke: #667189 !important; }

.remove {
  background: black;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0; }

.color {
  margin-top: 1em;
  margin-left: 0; }

.buttons {
  top: 0;
  left: 0; }

.hide *,
.hide {
  display: none !important; }

.nobefore:before {
  display: none; }

.noafter:after {
  display: none; }

.tint {
  opacity: 0.5; }

#introduction {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(20vh, auto); }
  #introduction .wilkommen {
    grid-column: 1 / 5;
    grid-row: 1; }
    #introduction .wilkommen h1 {
      font-size: 4rem; }
  #introduction .document_list {
    grid-column: 1 / 5;
    grid-row: 2; }
    #introduction .document_list ul {
      list-style: none;
      text-decoration: none;
      color: inherit;
      margin: 0;
      padding: 0; }
      #introduction .document_list ul li a {
        text-decoration: none;
        font-size: 1rem;
        margin: 0;
        padding: 0; }

:root {
  --color-spine-text: white;
  --color-logo-back: white;
  --page-width: 210mm;
  --page-height: 297mm;
  --paper-width: var(--page-width);
  --page-bleed: 5mm;
  --header-font: 'overpass';
  --text-font: 'Charis';
  --background-X: 0;
  --background-Y: 0;
  --background-size: calc(var(--page-width) * 1.5);
  --background-pattern: no-repeat;
  --bckgrnd-intro: #5755d9; }

body {
  margin: var(--page-bleed); }

/* colors for the books */
@page {
  margin: 0;
  padding: 0; }
.document {
  margin: 0 auto; }

.spread {
  margin: 0 auto;
  width: calc(var(--page-width) + var(--page-bleed) + var(--page-bleed));
  height: calc(var(--page-height) + var(--page-bleed) + var(--page-bleed));
  align-self: center;
  background: var(--color-back);
  display: grid;
  grid-template-areas: ". . . . ." ". back spine front ." ". . . . .";
  grid-template-columns: var(--page-bleed) var(--page-width) var(--spine-width) var(--page-width) var(--page-bleed);
  grid-template-rows: var(--page-bleed) var(--page-height) var(--page-bleed);
  position: relative;
  border: 8px solid white;
  background-color: var(--color-page); }
  .spread:before, .spread:after {
    position: absolute;
    content: '';
    border: solid black;
    z-index: -1; }
  .spread:before {
    top: calc(var(--page-bleed) * -1);
    bottom: calc(var(--page-bleed) * -1);
    left: var(--page-bleed);
    right: var(--page-bleed);
    border-width: 0 1px; }
  .spread:after {
    left: calc(var(--page-bleed) * -1);
    right: calc(var(--page-bleed) * -1);
    top: var(--page-bleed);
    bottom: var(--page-bleed);
    border-width: 1px 0; }

.background {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  background: var(--color-page);
  background-color: var(--color-page);
  background: none;
  background-position-y: var(--background-Y);
  background-position-x: var(--background-X);
  background-size: var(--background-size);
  background-repeat: var(--background-pattern);
  background-origin: top-right; }

.backcover {
  grid-area: back;
  position: relative;
  background-size: var(--background-size);
  background-position-x: calc(var(--background-X) - var(--page-width) - var(--spine-width));
  background-position-y: calc(var(--background-Y)); }
  .backcover .logos {
    bottom: 10mm;
    left: 5mm;
    right: 5mm;
    position: absolute;
    text-align: center;
    padding: 6mm 3mm; }
    .backcover .logos .logo {
      display: inline-block;
      width: calc(var(--page-width)/6);
      height: calc(var(--page-width)/6);
      margin-right: 2mm;
      margin-left: 2mm;
      margin-bottom: 1mm;
      padding: 3mm;
      background: var(--color-logo-back);
      -o-object-fit: contain;
      object-fit: contain; }
  .backcover p {
    margin: 0 auto;
    position: absolute;
    top: 10mm;
    left: 10mm;
    right: 10mm;
    text-align: left;
    color: var(--color-text);
    font-size: calc(var(--page-width)/30 + 3px); }

.version {
  position: absolute;
  top: 2em;
  right: 3em;
  font-style: italic;
  color: var(--color-front);
  font-size: 0.8em; }

.spread.modif {
  width: var(--page-width);
  height: var(--page-height);
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden; }

.frontcover.modif {
  grid-area: back;
  margin-top: -5mm;
  margin-left: -5mm; }

.background.modif {
  background-position-x: calc(var(--background-X) - var(--page-width) - var(--spine-width) - var(--page-bleed));
  overflow: hidden; }

.background.modifback {
  background-position-x: calc(var(--background-X) - var(--page-bleed));
  overflow: hidden; }

.pattern {
  background-repeat: repeat; }

.backcover .logos .logo {
  position: relative; }

.repeat {
  background-repeat: repeat; }

:root {
  --color-back: #fff;
  --color-page: #fff;
  --color-document: #fff;
  --color-spine: black;
  --color-text: #333;
  --page-width: 210mm;
  --page-height: 297mm;
  --paper-width: var(--page-width);
  --page-bleed: 5mm;
  --header-font: 'overpass';
  --text-font: 'Charis'; }

.page {
  background-size: var(--background-size);
  background-position-x: calc(var(--background-X));
  background-position-y: calc(var(--background-Y));
  grid-area: front;
  width: 100%;
  height: 100%;
  position: relative;
  color: black;
  width: calc(var(--page-width));
  height: calc(var(--page-height));
  border: 1px solid #d2d2d2; }
  .page img {
    position: absolute;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--background-size); }
  .page hgroup {
    position: absolute;
    left: calc(var(--page-width) / 12);
    bottom: calc(var(--page-height) / 24);
    position: absolute; }
    .page hgroup * {
      color: var(--color-text); }
    .page hgroup h1 {
      font-weight: 600;
      font-size: 3.5em;
      line-height: 1;
      padding-right: 1em;
      margin-bottom: 0; }
    .page hgroup .subtitle {
      font-size: 2em;
      width: 20ch;
      line-height: 1.2em;
      margin-top: 0;
      margin-left: -0.05em; }
    .page hgroup p {
      margin-left: 0.2em;
      font-size: 1.5em;
      margin-top: 1em;
      margin-bottom: 1em;
      font-weight: 400; }

#dont {
  display: none;
  position: relative; }

@media (max-width: 960px) {
  body {
    margin: 0;
    box-sizing: border-box; }

  #dont {
    display: block;
    position: fixed;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    z-index: 99999999;
    margin: 1rem;
    background: repeating-linear-gradient(-45deg, #5755d9, #5755d9 3px, #fff 3px, #fff 13px);
    mix-blend-mode: multiply;
    /*
    .in {
    	background-color: $gray-color;
    	opacity: .7;
    	margin: 1rem;
    	width: calc(100% - 2rem);
    	height: calc(100% - 2rem);
    }*/ }
    #dont .in {
      width: 100%;
      height: 100%;
      position: absolute; }
    #dont p {
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      transform-origin: center;
      color: #5755d9;
      border: 2px solid #5755d9;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem;
      background: white;
      width: 400px;
      text-align: center;
      margin: auto; }

  #panel, .notification {
    margin: var(--page-bleed); }

  .document {
    display: none; } }

/*# sourceMappingURL=theme.css.map */
