{# templates/base.html.twig #}

<!DOCTYPE html>
<html style="--background-X:-35px; --background-Y:-1000px; --background-size:398px; --:undefined;" lang="en">

	<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	    <meta charset="UTF-8">
	    <title>Demo for the icons</title>
        {% block stylesheets %}
	        <link rel="stylesheet" href="../../engine/css-compiled/theme.css" type="text/css">
		    <link rel="stylesheet" href="../../engine/css/introjs.css" type="text/css">
        {% endblock %}

	    <script src="../../engine/js/interact.js" type="text/javascript"></script>
	    <script src="../../engine/js/html2canvas.js" type="text/javascript"></script>
	</head>
	<body>
            {% block tools %}{% endblock %}	

            {% block body %}{% endblock %}	

	</body>

        {% block javascripts %}
	    <script src="../../engine/js/tools/helpers.js"></script>
	    <script src="../../engine/js/tools/ui.js"></script>
	    <script src="../../engine/js/tools/page.js"></script>
	    <script src="../../engine/js/tools/colors.js"></script>
	    <script src="../../engine/js/tools/export.js"></script>
	    <script src="../../engine/js/tools/content.js"></script>
	    <script src="../../engine/js/tools/logo.js"></script>
	    {% endblock %}

</html>