<div class="icon-bar ui">
  <div class="icon active" id="bt-page" data-pane="page">Page</div>
  <div class="icon" id="bt-colors" data-pane="colors">Colors</div>
  <div class="icon" id="bt-background" data-pane="background">Background</div>
  <div class="icon" id="bt-export" data-pane="export">Export</div>
  <div class="icon" id="bt-logo" data-pane="logo">Logos</div>
</div>