
/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is brown.
 *
 * This theme is Copyright (C) 2012-2013 Owen Versteeg, http://owenversteeg.com - it is MIT licensed.
 */
.reveal a {
  line-height: 1.3em; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "HkGrotesk", sans-serif;
  /*font-size: 1.5rem;*/
  font-weight: normal;
  color: #333; }

::selection {
  color: #fff;
  background: #333;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #333;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

/*

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }*/

/*********************************************
 * OTHER
 *********************************************/

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

.reveal .slide-number {
    position: absolute;
    left: inherit;
    bottom: inherit;
    font-family: "HkGrotesk", sans-serif;
    font-size: 2rem;
    line-height: 1;
    color: #333;
    padding: 5px;
    width: 2rem;
    background-color: inherit;
    right: 3rem;
    top: 1.5rem;
  }

.reveal .slide-number a{
    border-bottom: inherit;
    text-decoration: none;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: tomato;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; 
  border-bottom: 1px solid tomato;
  text-decoration: none;

}

.reveal a:hover {
  opacity: .6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #25211c; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 0px;
  /*background: white;*/
  border: inherit;
  box-shadow: inherit; }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #51483D;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #51483D; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #51483D; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } 
  }

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 297mm;
    height: 210mm;
  }
  /* ... the rest of the rules ... */
}

/*********************************************
 * Typo
 *********************************************/
.reveal h1 {
  grid-column: 1/7;
  grid-row: 1;

  font-size: 2rem;
  position: relative;
  text-align: left;
  font-weight: 700;
  margin: 0rem;
}

.reveal h1 span{
  font-weight: 500;
}

.reveal h2 {
  grid-column: 1/7;
  grid-row: 1;

  font-size: 1.5rem;
  position: relative;
  text-align: left;
  font-weight: 700;
  margin: 0rem;
}

.reveal h3{
  grid-column: 1/5;
  grid-row: 2;
  grid-row-end: 7;
  align-self: center;
  text-align: left;

  font-size: 3rem !important;
}

.reveal h4{
  grid-column: 1/5;
  grid-row: 2;
  grid-row-end: 8;
  align-self: center;

  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: left;
}

.reveal p.base{
  grid-column: 2/6;
  grid-row: 7;

  text-overflow: ellipsis;
  max-height: 30vh;

  font-size: 1.2rem;
  line-height: 1.6rem;
  align-self: end;

  margin: 0;
}

.reveal p.base.left{
  grid-column: 1/4;
  grid-row: 7;

  text-align: left;
}

.overflow{
  grid-column: 2/6;
  grid-row: 7;
  grid-row-end: 9;
  overflow-y: hidden;
}
.overflow p {
    column-count: 2;
    max-height: 100%;
    text-align: left;
    padding: 0 1rem 0 0;
}

.reveal small {
  font-size: 0.8em;
  line-height: 1.6em;
}

.reveal .white{
  color: white;
}

.reveal .black{
  color: #333;
}

/*********************************************
 * Grid
 *********************************************/

.reveal .slides > section.present, 
.reveal .slides > section > section.present,
.reveal .slides > section.past, 
.reveal .slides > section > section.past, 
.reveal .slides > section.future, 
.reveal .slides > section > section.future{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: 10%;
}



.reveal .slides > section, .reveal .slides > section > section{
    padding: inherit;
    height: 100vh;
    max-height: 100vh;
  }


iframe.zoomout{
  width: 100vw;
  height: 100vh;
  position: absolute;
  max-width: inherit;
  max-height: inherit;
  margin: 0;
  /*
  -ms-zoom: 0.50;
  -moz-transform: scale(0.50);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.50);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.50);
  -webkit-transform-origin: 0 0;*/
}

.reveal img{
  grid-column: 1/7;
  grid-row: 1;
  grid-row-end: 7;
  justify-self: center;
  align-self: center;

  max-height: 100%;

}

.embedded{
  position: absolute;
  top: 0;
  margin: 0 !important;
}

  .row2{
    grid-row-start: 2 !important;
  }

 .margintop{
  margin: 2rem 0 0 0;
 }

 .bottom{
  z-index: -1 ;
  grid-row-end: 9 !important;
  align-self: end !important;
 }

 .right{
  justify-self: right !important;
 }

 .left{
  justify-self: left !important;
 }

 .centered{
  grid-column: 2/6 !important;
  justify-self: center !important;
  text-align: center !important;
 }

/* Img */
 .reveal img.monochrome{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
 }

/* GRID - Cas pratique */

 #table ul{
  list-style-type: circle;
  grid-column: 1/7;
  grid-row: 2;
 }

  #table a{
   color: #333;
 }

ul.index li{
  font-size: 2rem;
}

.standup{
  --standrow: 4 ;
  grid-row: var(--standrow);
}
.standup:nth-of-type(1) {
    grid-column-start: 2;
}

.standup:nth-of-type(2) {
    grid-column-start: 3;
}

.standup:nth-of-type(3) {
    grid-column-start: 4;
}

.standup:nth-of-type(4) {
    grid-column-start: 5;
}

.standup p{
  grid-column: inherit;
  grid-row: inherit;
}
