@font-face {
    font-family: 'Asap';
    src: url('asap-regular-webfont.woff2') format('woff2'),
         url('asap-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Asap';
    src: url('asap-semibold-webfont.woff2') format('woff2'),
         url('asap-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'Asap';
    src: url('asap-semibolditalic-webfont.woff2') format('woff2'),
         url('asap-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}




@font-face {
    font-family: 'Asap';
    src: url('asap-bold-webfont.woff2') format('woff2'),
         url('asap-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Asap';
    src: url('asap-bolditalic-webfont.woff2') format('woff2'),
         url('asap-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Asap';
    src: url('asap-italic-webfont.woff2') format('woff2'),
         url('asap-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Asap';
    src: url('asap-medium-webfont.woff2') format('woff2'),
         url('asap-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Asap';
    src: url('asap-mediumitalic-webfont.woff2') format('woff2'),
         url('asap-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}