			html, body{
				width: 100vw;
				height: 100vh;
				box-sizing: border-box;
				//overflow-x: hidden;
				margin: 0;
			}

			canvas{
				width: 100vw;
				height: 100vh;
			}
 
		 	#p1, #p2, #p3{
		 		width: 210mm;
				height: 297mm;
				border: 1px solid black;
				margin: 2rem auto;
				overflow:  hidden;
				position: relative;

		 		display: inline-block;
		 	}
			.ramdam{
				width: 100%;
				height: 100%;
				margin: 0;
				overflow:  hidden;
				position: relative;
				background-color: #fff;
				z-index: 1;
				/*box-shadow: .3rem .3rem grey;*/
			}

			.ramdam svg{
			}

			svg path.line {
				stroke: var(--Rcolor) !important;
			}

			svg path.fill {
				fill: var(--Rcolor) !important;
			}

			#cartel{
				z-index: 999;
				width: 100%;
				height: 100%;
				position: absolute;
				margin: 2%;
				padding: 1rem;
				text-align: left;

				display: grid;
				grid-template-columns: repeat(5, 16.8%);
				grid-gap: 2%;
				grid-auto-rows: 10%;

				font-family: 'Work_Sans';

				grid-row-gap: 1.5rem;
			}

			p{
				font-size: .7rem;
				font-weight: 500;
				text-align: left;
				margin: 0;
				padding: 0;

				/*! font-family: ser; */
			}

			h1{
				font-weight: 800;
				/*! padding: 2rem; */
				margin: 0;

				font-size: 7rem;
				line-height: 5rem;
				text-transform: uppercase;
				text-align: left;
			}
			
			h2 {
			  text-align: left;
				font-size: 1.25rem;
				margin: 0;
				padding: 0;
			}

			h3{
				font-weight: 300;
				margin: 0;
				padding: 0;
			}

			h4, h5{
				padding: 0;
				margin: 0 0 .5rem 0;

			}

			.title{
				grid-column: 1 / 5;
				grid-row: 1;
			}

			.info{
				grid-column: 1 / 5;
				grid-row: 8;
				
				text-align: left;
				grid-row-end: 8;
				/*! height: 5rem; */
				align-self: end;
			}

			.details{
				grid-column: 5 / 6;
				grid-row: 4;
				margin: 1rem 0;
			}



			.logo.R{
				bottom: 0;
				display: block;
				align-self: end;
			}

			.logoP_container{
				grid-column: 5 / 6;
				grid-row: 6;
				margin: 0;
				align-self: end;
			}
			.logoR_container{
				grid-column: 5 / 6;
				grid-row: 8;
				align-self: end;
			}

			.logo.partner{
			    transform: rotate(9deg);
				margin: 2rem 0; 
			    text-align: left;
			}
			.logo.partner:nth-of-type(2n) {
			    transform: rotate(-7deg);
					padding: 0 0 0 1rem;
			}
			.logo.partner:nth-of-type(3n) {
			    transform: rotate(5deg);

			}
			.logo.partner:nth-of-type(4n) {
			    transform: rotate(-10deg);
			}

			.logo.partner img.svg{
				max-width: 4rem;  
			}

			.contact{
				grid-column: 5 / 6;
				grid-row: 7;
				margin: 0;
				align-self: end;
			}



			#illustration{
				position: relative;
				/*width: 100%;
				height: 100%;*/
				top: 0;
				z-index: 9999;
				mix-blend-mode: multiply;
			}

			#spiral{
				stroke: var(--Rcolor) !important;
				stroke-width: .5rem;
				height: 100%;
				width: 100%;
				z-index: 9;
				position: relative
			}
			#spiral svg{
        
				height: 100%;
				width: 100%;
				margin: 0;
			}
			.mano{
				position: absolute;
				width: 30%;
				cursor: move;
			}
    		.mano:nth-of-type(1){
				top: 65px;
				left: 521px;
			}

			.mano:nth-of-type(2){
				top: 750px;
				left: 290px;
			}

			.mano:nth-of-type(3){
				top: 371px;
				left: 100px;
			}

			.mano svg{
				mix-blend-mode: multiply;
			}
		}
		