html, body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0; }

canvas {
  width: 100vw;
  height: 100vh; }

#page {
  width: 1200px;
  height: 628px;
  border: 1px solid var(--Rcolor);
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  background: var(--Rcolor); }

.ramdam {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  z-index: 1;
  top: 0; }

.line {
  stroke: var(--Rcolor) !important; }

.fill {
  fill: var(--Rcolor) !important; }

.stg {
  z-index: -1; }

.stg svg * {
  fill: #fef08a; }

.frag {
  position: relative;
  display: inline-block;
  border: 1px solid var(--Rcolor);
  color: black;
  font-size: 20px;
  text-align: center;
  overflow: hidden; }

.frag svg {
  left: 50%;
  transform: translateX(-50%);
  position: absolute; }

.emblem {
  width: 150px;
  height: 150px; }
  .emblem:nth-of-type(2n) {
    margin-left: 150px; }
  .emblem:nth-of-type(3), .emblem:nth-of-type(4) {
    margin-top: 150px; }

#black2color {
  position: absolute;
  right: 1rem;
  top: 1rem; }

#minicartel {
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1.5rem;
  font-family: "Gaia", sans-serif;
  color: white; }
  #minicartel #title {
    text-align: center; }
    #minicartel #title h1 {
      filter: none;
      margin: 0;
      padding: 0;
      --outstroke: 0px;
      -webkit-text-stroke: var(--outstroke) white;
      letter-spacing: calc( var(--outstroke) * .4 );
      font-family: "Asap", sans-serif;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.75rem;
      text-transform: uppercase; }
    #minicartel #title p {
      		/*filter: url(#Filter-Text_02);
      		-webkit-filter: url(#Filter-Text_02);
      
      		--outstroke: 2px;
      		-webkit-text-stroke: var(--outstroke) white;
      		letter-spacing: calc( var(--outstroke) * .4 );
      		font-size: 1.5rem;
      		line-height: 2.5rem;
      		margin: 1rem 0;*/
      --outstroke: 0px;
      -webkit-text-stroke: var(--outstroke) white;
      letter-spacing: calc( var(--outstroke) * .4 );
      font-size: 1.25rem;
      line-height: 2.5rem;
      margin: .5rem 0;
      font-family: "asap";
      letter-spacing: .5px;
      font-weight: 600; }
    #minicartel #title hr {
      filter: url(#Filter-Text_03);
      -webkit-filter: url(#Filter-Text_03);
      margin: 0 0 .25rem 0;
      padding: 0;
      border-bottom: 2px solid white;
      border: inherit;
      border-bottom: 1px solid white; }
  #minicartel .logo.main {
    height: 30px;
    margin: auto;
    text-align: center;
    padding: 0 0 .5rem 0; }
    #minicartel .logo.main svg {
      left: 0;
      transform: inherit;
      width: inherit;
      height: inherit;
      filter: none;
      fill: white; }
  #minicartel .logo.network {
    grid-column: 2 / 6;
    grid-row: 11/12;
    align-self: end;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 0; }
    #minicartel .logo.network .R {
      font-family: "Patua", sans-serif;
      font-size: 35px;
      font-weight: bold; }
    #minicartel .logo.network .Rcity {
      filter: url(#Filter-Text_03);
      -webkit-filter: url(#Filter-Text_03);
      font-family: "Gaia", sans-serif;
      font-size: 22px;
      padding: 0 2px;
      --outstroke: 2px;
      -webkit-text-stroke: var(--outstroke) white;
      letter-spacing: calc( var(--outstroke) * .4 ); }
      #minicartel .logo.network .Rcity .bric {
        margin: 0 0 0 .5px; }
      #minicartel .logo.network .Rcity .bric:nth-of-type(2n) {
        top: 4px;
        position: relative; }
      #minicartel .logo.network .Rcity .bric:nth-of-type(4n) {
        top: -4px;
        position: relative; }

#message {
  position: absolute;
  top: 50%;
  width: calc(75% - 1.5rem);
  height: calc(75% - 1.5rem);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3%;
  grid-auto-rows: 8%;
  transform: translateX(-50%) translateY(-50%) rotate(5deg);
  left: 50%;
  background: white;
  filter: url(#Filter-Illustration_03);
  -webkit-filter: url(#Filter-Illustration_03); }
  #message .border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #1d1d1b;
    filter: url(#Filter-Illustration_02);
    -webkit-filter: url(#Filter-Illustration_02); }
  #message * {
    margin: 0; }
  #message p.highlight {
    filter: url(#Filter-Text_03);
    -webkit-filter: url(#Filter-Text_03);
    grid-column: 2 / 6;
    grid-row: 2;
    align-self: start;
    justify-self: center;
    --outstroke: 15px;
    -webkit-text-stroke: var(--outstroke) #1d1d1b;
    letter-spacing: calc( var(--outstroke) * .4 );
    color: white;
    font-family: "Gaia";
    font-size: 8rem;
    line-height: 8rem;
    text-align: center;
    transform: rotate(-5deg);
    color: #1d1d1b; }
    #message p.highlight sup {
      font-size: 3rem; }
  #message p.abstract {
    filter: url(#Filter-Text_01);
    -webkit-filter: url(#Filter-Text_01);
    --outstroke: 2px;
    -webkit-text-stroke: var(--outstroke) #1d1d1b;
    letter-spacing: calc( var(--outstroke) * .4 );
    font-family: "Gaia";
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 5 / 11;
    align-self: start;
    justify-self: center;
    transform: rotate(-1deg);
    color: #1d1d1b; }

.illubox.stuff {
  width: 100%;
  height: 100%;
  background: var(--Rcolor); }
  .illubox.stuff svg:nth-of-type(1) {
    width: 400px;
    transform-origin: center;
    margin: 0;
    bottom: -100px;
    left: -100px;
    position: absolute; }
    .illubox.stuff svg:nth-of-type(1) .cls-2 {
      filter: url(#Filter-Illustration_03);
      -webkit-filter: url(#Filter-Illustration_03); }

/*# sourceMappingURL=R_social_8.12.2.css.map */
