html, body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0; }

canvas {
  width: 100vw;
  height: 100vh; }

#page {
  width: 1200px;
  height: 628px;
  border: 1px solid var(--Rcolor);
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 40%;
  transform: translateY(-50%); }

.ramdam {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  z-index: 1;
  top: 0; }

.line {
  stroke: var(--Rcolor) !important; }

.fill {
  fill: var(--Rcolor) !important; }

.stg {
  z-index: -1; }

.stg svg * {
  fill: #fef08a; }

.frag {
  position: relative;
  display: inline-block;
  border: 1px solid var(--Rcolor);
  color: black;
  font-size: 20px;
  text-align: center;
  overflow: hidden; }

.frag svg {
  left: 50%;
  transform: translateX(-50%);
  position: absolute; }

.emblem {
  width: 150px;
  height: 150px; }
  .emblem:nth-of-type(2n) {
    margin-left: 150px; }
  .emblem:nth-of-type(3), .emblem:nth-of-type(4) {
    margin-top: 150px; }

#black2color {
  position: absolute;
  right: 1rem;
  top: 1rem; }

hr .embl {
  position: absolute;
  margin: 50% 0 0 0;
  padding: 0;
  border: 1px solid var(--Rcolor);
  width: 100%;
  z-index: 99; }
  hr .embl:nth-of-type(2) {
    transform: rotate(90deg); }

.inbox {
  width: 100%;
  height: 100%;
  transform: inherit !important;
  margin: auto;
  background: var(--Rcolor2);
  background: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  grid-auto-rows: 100%;
  font-family: "Gaia", sans-serif; }
  .inbox .logo.main {
    position: absolute;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%);*/
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    padding: 0 0 1rem 0; }
    .inbox .logo.main svg, .inbox .logo.main img {
      left: 0;
      transform: inherit;
      width: inherit;
      height: inherit;
      filter: none; }
  .inbox .logo.txt {
    grid-column: 1 / 3;
    grid-row: 1/1;
    align-self: end; }
    .inbox .logo.txt .R {
      font-family: "Asap", sans-serif;
      font-size: 35px;
      font-weight: bold; }
    .inbox .logo.txt .Rcity {
      font-family: "Gaia", sans-serif;
      font-size: 22px;
      padding: 0 2px;
      --outstroke: 2px;
      -webkit-text-stroke: var(--outstroke) var(--Rcolor);
      letter-spacing: calc( var(--outstroke) * .4 ); }
  .inbox h2, .inbox h3, .inbox .logo {
    grid-column: 1 / 3;
    grid-row: 1/1; }
  .inbox h2, .inbox h3 {
    filter: url(#Filter-Text_02);
    -webkit-filter: url(#Filter-Text_02);
    color: var(--Rcolor); }
  .inbox h2 {
    --outstroke: 4px;
    -webkit-text-stroke: var(--outstroke) var(--Rcolor);
    letter-spacing: calc( var(--outstroke) * .4 );
    font-size: 3.5rem;
    justify-self: center;
    align-self: center; }
  .inbox h3 {
    --outstroke: 4px;
    -webkit-text-stroke: var(--outstroke) var(--Rcolor);
    letter-spacing: calc( var(--outstroke) * .4 );
    font-size: 2rem;
    text-align: left;
    padding: 10px;
    line-height: 2.5rem;
    justify-self: start;
    align-self: start; }
    .inbox h3 span {
      --outstroke: 2px;
      -webkit-text-stroke: var(--outstroke) var(--Rcolor);
      letter-spacing: calc( var(--outstroke) * .4 ); }

.illubox.hand {
  width: 100%;
  height: 100%;
  background: var(--Rcolor); }
  .illubox.hand img {
    height: 150%;
    stroke-width: 4px !important;
    transform: rotate(15deg);
    filter: url(#Filter-Text_02);
    -webkit-filter: url(#Filter-Text_02); }
.illubox.stuff {
  width: 100%;
  height: 100%;
  background: var(--Rcolor); }
  .illubox.stuff img {
    height: 100%;
    filter: url(#Filter-Text_02);
    -webkit-filter: url(#Filter-Text_02); }

/*# sourceMappingURL=R_social_8.02.css.map */
