html, body{
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0;
}

canvas{
	width: 100vw;
	height: 100vh;
}

#page{
	width: 300px;
	height: 300px;
	//border: 1px solid black;
	border: 1px solid var(--Rcolor);
	margin: auto;
	overflow:  hidden;
	position: relative;
	top: 40%;
	transform: translateY(-50%);

}

.ramdam{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow:  hidden;
	position: relative;
	background-color: #fff;
	z-index: 1;
	top: 0;
}

.ramdam svg{
}

.line {
	stroke: var(--Rcolor) !important;
}

.fill {
	fill: var(--Rcolor) !important;
}

.stg{
	z-index: -1;
}

.stg svg * {
	fill: #fef08a;
}

.frag{
    position:absolute;
    /*border: 1px solid var(--Rcolor);*/
    color: black;
    font-size:20px;
    text-align:center;
    overflow: hidden;
}

.frag svg {
    //margin-left: -20%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.emblem{
	width: 150px;
	height: 150px;

	&:nth-of-type(2n){
		margin-left:150px;
	}
	&:nth-of-type(3), &:nth-of-type(4){
		margin-top:150px;
	}
}

#black2color{
	position: absolute;
	right: 1rem;
	top: 1rem;
}

hr {
	position: absolute;
    margin: 50% 0 0 0;
    padding: 0;
    border: 1px solid var(--Rcolor);
    width: 100%;
    z-index: 99;

    &:nth-of-type(2){
    	transform: rotate(90deg);
    }
}

.logo{
	position: absolute;
	z-index: 999;
	background: white;
	width: 150px;
	height: 150px;
	top: 75px;
	left: 75px;
	border-radius: 100px;
	border: 1px solid var(--Rcolor);

	img{
		width: 80px;
		position: absolute;
		left: 50%;
		top: 47%;
		transform: translate(-50%,-50%);
	}
}


$imgKey: random(2);

$list: 45deg, -45deg;
$nth: nth($list, $imgKey);


.rotate{
	//transform: translateX(-50%) rotate( $nth) !important;
}