html, body{
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0;
}

canvas{
	width: 100vw;
	height: 100vh;
}

#page{
	width: 1200px;
	height: 628px;
	//border: 1px solid black;
	border: 1px solid var(--Rcolor);
	margin: auto;
	overflow:  hidden;
	position: relative;
	top: 40%;
	transform: translateY(-50%);

}

.ramdam{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow:  hidden;
	position: relative;
	background-color: #fff;
	z-index: 1;
	top: 0;
}

.ramdam svg{
}

.line {
	stroke: var(--Rcolor) !important;
}

.fill {
	fill: var(--Rcolor) !important;
}

.stg{
	z-index: -1;
}

.stg svg * {
	fill: #fef08a;
}

.frag{
    position:relative;
    display: inline-block;
    border: 1px solid var(--Rcolor);
    color: black;
    font-size:20px;
    text-align:center;
    overflow: hidden;
}

.frag svg {
    //margin-left: -20%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.emblem{
	width: 150px;
	height: 150px;

	&:nth-of-type(2n){
		margin-left:150px;
	}
	&:nth-of-type(3), &:nth-of-type(4){
		margin-top:150px;
	}
}

#black2color{
	position: absolute;
	right: 1rem;
	top: 1rem;
}

hr .embl {
	position: absolute;
    margin: 50% 0 0 0;
    padding: 0;
    border: 1px solid var(--Rcolor);
    width: 100%;
    z-index: 99;

    &:nth-of-type(2){
    	transform: rotate(90deg);
    }
}



.inbox{
	width: 100%;
	height: 100%;
	transform: inherit !important;
	margin: auto;
	background: var(--Rcolor2);
	background: white;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
	grid-auto-rows: 100%;

	font-family: "Gaia", sans-serif;


	.logo{

		&.main{
			position: absolute;
			/*top: 50%;
			left: 50%;
			transform: translate(-50%);*/
			height: 100px;
			width: 100px;

			justify-self: center;
			align-self: center;

			padding: 0 0 1rem 0;

			svg, img{
				left: 0;
				transform: inherit;
				width: inherit;
				height: inherit;
				filter: none;
			}
		}
		&.txt{

			grid-column: 1 / 3;
			grid-row: 1/1;
			align-self: end;

			.R{
				font-family: "Patua", sans-serif;
				font-size: 35px;
				font-weight: bold;

			}
			.Rcity{
				font-family: "Gaia", sans-serif;
				font-size: 22px;
				padding: 0 2px;

				--outstroke: 2px;
			    -webkit-text-stroke: var(--outstroke) var(--Rcolor);
			    letter-spacing: calc( var(--outstroke) * .4 );	
			}
		}
	}
	

	h2, h3, .logo{
		grid-column: 1 / 3;
		grid-row: 1 / 1 ;

	}

	h2, h3{
		filter: url(#Filter-Text_02);
		-webkit-filter: url(#Filter-Text_02);
		color: var(--Rcolor);
	}

	h2{
		--outstroke: 4px;
		-webkit-text-stroke: var(--outstroke) var(--Rcolor);
		letter-spacing: calc( var(--outstroke) * .4 );
		font-size: 3.5rem;

		justify-self: center;
		align-self: center;

	}

	h3{
		--outstroke: 4px;
		-webkit-text-stroke: var(--outstroke) var(--Rcolor);
		letter-spacing: calc( var(--outstroke) * .4 );
		font-size: 2rem;
		text-align: left;
		padding: 10px;
		line-height: 2.5rem;
		justify-self: start;
		align-self: center;
		margin: 0;

		span {
		    --outstroke: 2px;
		    -webkit-text-stroke: var(--outstroke) var(--Rcolor);
		    letter-spacing: calc( var(--outstroke) * .4 );
		}
	}
}

.illubox{
	
	//border: 1px solid white;

	&.hand{
		width: 100%;
		height: 100%;
		background: var(--Rcolor);
		
		img{
		    height: 130%;

			filter: url(#Filter-Text_02);
		    -webkit-filter: url(#Filter-Text_02);

		    transform: rotate(25deg) translate(-60%);
		    top: 50%;
		    transform-origin: left bottom;


		}
		.cls-2{

		}
	}

	&.stuff{
		width: 100%;
		height: 100%;
		background: var(--Rcolor);
		
		img{
			height: 100%;
			filter: url(#Filter-Text_02);
		    -webkit-filter: url(#Filter-Text_02);

		}
		.cls-2{

		}
	}
}
