html, body{
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0;
}

canvas{
	width: 100vw;
	height: 100vh;
}

#page{
	width: 1200px;
	height: 628px;
	//border: 1px solid black;
	border: 1px solid var(--Rcolor);
	margin: auto;
	overflow:  hidden;
	position: relative;
	top: 40%;
	transform: translateY(-50%);

	background: var(--Rcolor);

}

.ramdam{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow:  hidden;
	position: relative;
	background-color: #fff;
	z-index: 1;
	top: 0;
}

.ramdam svg{
}

.line {
	stroke: var(--Rcolor) !important;
}

.fill {
	fill: var(--Rcolor) !important;
}

.stg{
	z-index: -1;
}

.stg svg * {
	fill: #fef08a;
}

.frag{
    position:relative;
    display: inline-block;
    border: 1px solid var(--Rcolor);
    color: black;
    font-size:20px;
    text-align:center;
    overflow: hidden;
}

.frag svg {
    //margin-left: -20%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.emblem{
	width: 150px;
	height: 150px;

	&:nth-of-type(2n){
		margin-left:150px;
	}
	&:nth-of-type(3), &:nth-of-type(4){
		margin-top:150px;
	}
}

#black2color{
	position: absolute;
	right: 1rem;
	top: 1rem;
}
 

////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////


#cartel{
	width: calc(50% - 2rem);
	height: calc(100% - 2rem);
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1%;
	grid-auto-rows: 8%;

	font-family: "Gaia", sans-serif;
	color: white;

	 #title{

	 	grid-column: 2 / 6;
	 	grid-row: 6 ;

	 	justify-self: center;
	 	align-self: end;

	 	text-align: center;

	 	h1{
	 		filter: none;
	 		margin: 0;
	 		padding: 0;
	 
	 		--outstroke: 0px;
	 		-webkit-text-stroke: var(--outstroke) white;
	 		letter-spacing: calc( var(--outstroke) * .4 );
	 
	 		font-family: "Asap", sans-serif;
			font-size: 6rem;
			font-weight: 800;
			line-height: 4.75rem;
			text-transform: uppercase;


	 
	 	}
	 
	 	p{
	 		/*filter: url(#Filter-Text_02);
	 		-webkit-filter: url(#Filter-Text_02);
	 
	 		--outstroke: 2px;
	 		-webkit-text-stroke: var(--outstroke) white;
	 		letter-spacing: calc( var(--outstroke) * .4 );
	 		font-size: 1.5rem;
	 		line-height: 2.5rem;
	 		margin: 1rem 0;*/

	 		--outstroke: 0px;
			-webkit-text-stroke: var(--outstroke) white;
			letter-spacing: calc( var(--outstroke) * .4 );
			font-size: 1.25rem;
			line-height: 2.5rem;
			margin: .5rem 0;
			font-family: "asap";
			letter-spacing: .5px;
			font-weight: 800;
	 	}

	 	hr{
	 		filter: url(#Filter-Text_03);
	 		-webkit-filter: url(#Filter-Text_03);

	 		margin: 0 0 1rem 0;
	 		padding: 0;
	 		border-bottom: 2px solid white;
	 		border: inherit;
	 		border-bottom: 1px solid white;	
	 	}
	 }

	#details{
		grid-column: 2 / 6;
		grid-row: 8 / 10 ;
		justify-self: center;
		align-self: center;
		text-align: center;
	}

 	h2{
 		filter: url(#Filter-Text_02);
 		-webkit-filter: url(#Filter-Text_02);
 
 		--outstroke: 3px;
 		-webkit-text-stroke: var(--outstroke) white;
 		letter-spacing: calc( var(--outstroke) * .4 );
 		font-size: 1.5rem;
 		line-height: 2.5rem;
 		margin: .5rem 0;

 
 		span {
 		    --outstroke: 2px;
 		    -webkit-text-stroke: var(--outstroke) white;
 		    letter-spacing: calc( var(--outstroke) * .4 );
 		}
 	}

 	.abstract{
 		filter: url(#Filter-Text_03);
		-webkit-filter: url(#Filter-Text_03);

		--outstroke: 1px;
 		-webkit-text-stroke: var(--outstroke) white;
 		letter-spacing: calc( var(--outstroke) * .4 );

 		font-size: .9rem;
 		line-height: 1.2rem;
 	}


	.logo{

		&.main{
			grid-column: 1 / 7;
			grid-row: 1/2;

			height: 50px;

			justify-self: center;
			align-self: start;

			padding: 0 0 1rem 0;

			svg{
				left: 0;
				transform: inherit;
				width: inherit;
				height: inherit;
				filter: none;

				fill: white;

			}
		}
		&.network{
			grid-column: 2 / 6;
			grid-row: 11/12;
			align-self: end;
			justify-content: center;

			text-align: center;
 			color: white;
 			margin: 0;

			.R{
				font-family: "Patua", sans-serif;
				font-size: 35px;
				font-weight: bold;

			}
			.Rcity{

		 		filter: url(#Filter-Text_03);
		 		-webkit-filter: url(#Filter-Text_03);

				font-family: "Gaia", sans-serif;
				font-size: 22px;
				padding: 0 2px;

				--outstroke: 2px;
			    -webkit-text-stroke: var(--outstroke) white;
			    letter-spacing: calc( var(--outstroke) * .4 );

			    .bric{
				  margin: 0 0 0 .5px; 
				}
				.bric:nth-of-type(2n)  {
				  top: 4px;
				  position: relative;
				}

				.bric:nth-of-type(4n)  {
				  top: -4px;
				  position: relative;
				}
			}
		}
	}

}

////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////


.illubox{
	
	//border: 1px solid white;

	&.hand{
		width: 100%;
		height: 100%;
		background: var(--Rcolor);
		
		svg{
		    height: 120%;

		    transform: rotate(25deg) translate(-50%);
		    top: 50%;
		    transform-origin: left bottom;
		    margin: 0 0 0 10%;

		    .cls-2{

		    	filter: url(#Filter-Illustration_03);
			    -webkit-filter: url(#Filter-Illustration_03);
		    }
		}

	}
}
 