html, body{
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0;
}

canvas{
	width: 100vw;
	height: 100vh;
}

#page{
	width: 1200px;
	height: 628px;
	//border: 1px solid black;
	border: 1px solid var(--Rcolor);
	margin: auto;
	overflow:  hidden;
	position: relative;
	top: 40%;
	transform: translateY(-50%);

	background: var(--Rcolor);

}

.ramdam{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow:  hidden;
	position: relative;
	background-color: #fff;
	z-index: 1;
	top: 0;
}

.ramdam svg{
}

.line {
	stroke: var(--Rcolor) !important;
}

.fill {
	fill: var(--Rcolor) !important;
}

.stg{
	z-index: -1;
}

.stg svg * {
	fill: #fef08a;
}

.frag{
    position:relative;
    display: inline-block;
    border: 1px solid var(--Rcolor);
    color: black;
    font-size:20px;
    text-align:center;
    overflow: hidden;
}

.frag svg {
    //margin-left: -20%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.emblem{
	width: 150px;
	height: 150px;

	&:nth-of-type(2n){
		margin-left:150px;
	}
	&:nth-of-type(3), &:nth-of-type(4){
		margin-top:150px;
	}
}

#black2color{
	position: absolute;
	right: 1rem;
	top: 1rem;
}
 

////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////


#minicartel{
	//width: calc(25% - 2rem);
	width: auto;
	//height: calc(25% - 2rem);
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 1.5rem;

	font-family: "Gaia", sans-serif;
	color: white;

	 #title{

	 	text-align: center;

	 	h1{
	 		filter: none;
	 		margin: 0;
	 		padding: 0;
	 
	 		--outstroke: 0px;
	 		-webkit-text-stroke: var(--outstroke) white;
	 		letter-spacing: calc( var(--outstroke) * .4 );
	 
	 		font-family: "Asap", sans-serif;
			font-size: 2rem;
			font-weight: 800;
			line-height: 1.75rem;
			text-transform: uppercase;


	 
	 	}
	 
	 	p{
	 		/*filter: url(#Filter-Text_02);
	 		-webkit-filter: url(#Filter-Text_02);
	 
	 		--outstroke: 2px;
	 		-webkit-text-stroke: var(--outstroke) white;
	 		letter-spacing: calc( var(--outstroke) * .4 );
	 		font-size: 1.5rem;
	 		line-height: 2.5rem;
	 		margin: 1rem 0;*/

	 		--outstroke: 0px;
			-webkit-text-stroke: var(--outstroke) white;
			letter-spacing: calc( var(--outstroke) * .4 );
			font-size: 1.25rem;
			line-height: 2.5rem;
			margin: .5rem 0;
			font-family: "asap";
			letter-spacing: .5px;
			font-weight: 600;
	 	}

	 	hr{
	 		filter: url(#Filter-Text_03);
	 		-webkit-filter: url(#Filter-Text_03);

	 		margin: 0 0 .25rem 0;
	 		padding: 0;
	 		border-bottom: 2px solid white;
	 		border: inherit;
	 		border-bottom: 1px solid white;	
	 	}
	 }

	.logo{

		&.main{

			height: 30px;
			margin: auto;
			text-align: center;
			padding: 0 0 .5rem 0;

			svg{
				left: 0;
				transform: inherit;
				width: inherit;
				height: inherit;
				filter: none;

				fill: white;

			}
		}
		&.network{
			grid-column: 2 / 6;
			grid-row: 11/12;
			align-self: end;
			justify-content: center;

			text-align: center;
 			color: white;
 			margin: 0;

			.R{
				font-family: "Patua", sans-serif;
				font-size: 35px;
				font-weight: bold;

			}
			.Rcity{

		 		filter: url(#Filter-Text_03);
		 		-webkit-filter: url(#Filter-Text_03);

				font-family: "Gaia", sans-serif;
				font-size: 22px;
				padding: 0 2px;

				--outstroke: 2px;
			    -webkit-text-stroke: var(--outstroke) white;
			    letter-spacing: calc( var(--outstroke) * .4 );

			    .bric{
				  margin: 0 0 0 .5px; 
				}
				.bric:nth-of-type(2n)  {
				  top: 4px;
				  position: relative;
				}

				.bric:nth-of-type(4n)  {
				  top: -4px;
				  position: relative;
				}
			}
		}
	}

}

#message{
	position: absolute;
	top: 0;

	width: calc(100% - 1.5rem);
	height: calc(100% - 1.5rem);
	margin: 1.5rem;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1%;
	grid-auto-rows: 8%;

	color: white;

	*{
		margin: 0;
	}

	p.highlight{
 		filter: url(#Filter-Text_03);
		-webkit-filter: url(#Filter-Text_03);

		grid-column: 2 / 6;
		grid-row: 1 / 11;
		align-self: center;
		justify-self: center;

		--outstroke: 15px;
 		-webkit-text-stroke: var(--outstroke) #fff;
 		letter-spacing: calc( var(--outstroke) * .4 );
 		color: white;

 		font-family: "Gaia";
 		font-size: 8rem;
 		line-height: 8rem;
 		text-align: center;

 		transform: rotate(-5deg);

 		/*background: var(--Rcolor);
 		margin: 1rem;
 		border-radius: 50px;
 		border: 30px solid var(--Rcolor);*/
 	
 		sup{
 			font-size: 3rem;
 		}
	}

 	p.abstract{
 		filter: url(#Filter-Text_01);
		-webkit-filter: url(#Filter-Text_01);

		--outstroke: 2px;
 		-webkit-text-stroke: var(--outstroke) #fff;
 		letter-spacing: calc( var(--outstroke) * .4 );
		//text-shadow: calc( var(--outstroke) + 6px ) calc( var(--outstroke) + 6px ) 0 #1d1d1b, calc( var(--outstroke) - 3px ) calc( var(--outstroke) - 3px ) 0 #1d1d1b, 3px calc( var(--outstroke) - 3px ) 0 #1d1d1b, calc( var(--outstroke) - 3px ) calc( var(--outstroke) + 3px ) 0 #1d1d1b, calc( var(--outstroke) + 1px ) calc( var(--outstroke) + 1px ) 0 #1d1d1b;

 		
 		font-family: "Gaia";
 		font-size: 2rem;
 		line-height: 2.5rem;
 		text-align: center;

 		grid-column: 2 / 6;
		grid-row: 5 / 11;
		align-self: start;
		justify-self: center;

		transform: rotate(-1deg);
 	}
}

////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////


.illubox{
	
	//border: 1px solid white;

	&.hand{
		width: 100%;
		height: 100%;
		background: var(--Rcolor);
		
		svg:nth-of-type(1){

		height: 100%;
		transform-origin: center;
		bottom: -25%;
		left: 50%;
		position: absolute;
		transform: rotate(25deg) translateX(-50%);
		z-index: 20;

		    .cls-2{

		    	filter: url(#Filter-Illustration_03);
			    -webkit-filter: url(#Filter-Illustration_03);

			    stroke-width: 2.5px;
		    }
		}

	}

	&.fog{
		position: absolute; 
		width: calc(100% - 2rem);
		height: calc(100% - 2rem);
		margin: 1rem;
		top: 0;

		.foge{
			position: absolute;
			width: 90px;
			padding: 10px;

			.cls-2{
				filter: url(#Filter-Illustration_02);
				-webkit-filter: url(#Filter-Illustration_02);
			}
		}
	}
}
 