:root {
  --color-spine-text: white;
  --color-logo-back: white;
  --page-width: 210mm;
  --page-height: 297mm;
  --paper-width: var(--page-width);
  --page-bleed: 5mm;
  --header-font: 'overpass';
  --text-font: 'Charis';
  --background-X: 0;
  --background-Y: 0;
  --background-size: calc(var(--page-width) * 1.5);
  --background-pattern: no-repeat;
  --bckgrnd-intro: #{rgb(87, 85, 217)};
}

  
body{
  margin: var(--page-bleed);
}

/* colors for the books */
@page {
  margin: 0;
  padding: 0; }

.document {
  margin: 0 auto;
}


.spread {
  margin: 0 auto;
  width: calc(var(--page-width) + var(--page-bleed) + var(--page-bleed));
  height: calc(var(--page-height) + var(--page-bleed) + var(--page-bleed));
  align-self: center;
  background: var(--color-back);
  display: grid;
  grid-template-areas: ". . . . ." ". back spine front ." ". . . . .";
  grid-template-columns: var(--page-bleed) var(--page-width) var(--spine-width) var(--page-width) var(--page-bleed);
  grid-template-rows: var(--page-bleed) var(--page-height) var(--page-bleed);
  position: relative;
  border: 8px solid white;
  background-color: var(--color-page)
  ;


  &:before, &:after {
    position: absolute;
    content: '';
    border: solid black;
    z-index: -1; 
  }
  &:before {
    top: calc(var(--page-bleed) * -1);
    bottom: calc(var(--page-bleed) * -1);
    left: var(--page-bleed);
    right: var(--page-bleed);
    border-width: 0 1px; 
  }
  &:after {
    left: calc(var(--page-bleed) * -1);
    right: calc(var(--page-bleed) * -1);
    top: var(--page-bleed);
    bottom: var(--page-bleed);
    border-width: 1px 0; 
  }
}

.background {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  background: var(--color-page);
  background-color: var(--color-page);
  background: none;
  background-position-y: var(--background-Y);
  background-position-x: var(--background-X);
  background-size: var(--background-size);
  background-repeat: var(--background-pattern);
  background-origin: top-right; }

.backcover {
  grid-area: back;
  position: relative;
  background-size: var(--background-size);
  background-position-x: calc(var(--background-X) - var(--page-width) - var(--spine-width));
  background-position-y: calc(var(--background-Y)); 

  .logos {
    bottom: 10mm;
    left: 5mm;
    right: 5mm;
    position: absolute;
    text-align: center;
    padding: 6mm 3mm; 

    .logo {
      display: inline-block;
      width: calc(var(--page-width)/6);
      height: calc(var(--page-width)/6);
      margin-right: 2mm;
      margin-left: 2mm;
      margin-bottom: 1mm;
      padding: 3mm;
      background: var(--color-logo-back);
      -o-object-fit: contain;
      object-fit: contain; 
    }
  }

  p {
    margin: 0 auto;
    position: absolute;
    top: 10mm;
    left: 10mm;
    right: 10mm;
    text-align: left;
    color: var(--color-text);
    font-size: calc(var(--page-width)/30 + 3px); 
  }
}


.version {
    position: absolute;
    top: 2em;
    right: 3em;
    font-style: italic;
    color: var(--color-front);
    font-size: 0.8em; 
  }


.spread.modif {
  width: var(--page-width);
  height: var(--page-height);
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden; }

.frontcover.modif {
  grid-area: back;
  margin-top: -5mm;
  margin-left: -5mm; }

.background.modif {
  background-position-x: calc(var(--background-X) - var(--page-width) - var(--spine-width) - var(--page-bleed));
  overflow: hidden; }

.background.modifback {
  background-position-x: calc(var(--background-X) - var(--page-bleed));
  overflow: hidden; }

.pattern {
  background-repeat: repeat; }

.backcover .logos .logo {
  position: relative; }

.repeat {
  background-repeat: repeat; }


@media print {

}

