#introduction{
	width: 100vw;
	height: auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1rem;
	grid-auto-rows: minmax(20vh, auto);

  
  .wilkommen{
  		
  		grid-column: 1 / 5;
  		grid-row: 1;


  	h1{
  		font-size: 4rem;

  	}
  }


  .document_list{
	grid-column: 1 / 5;
	grid-row: 2;

	ul {
	  list-style: none;
	  text-decoration: none;
	  color: inherit;
	  margin: 0;
	  padding: 0; 
	
		li { 
			a{
			  text-decoration: none;
			  font-size: 1rem;
			  margin: 0;
			  padding: 0;
			}
		}
	}


  }

}