#dont{
	display: none;
	position: relative;
}

@media (max-width: 960px) {

	body{
		margin: 0;
		box-sizing: border-box;
	}

	#dont{
		display: block;
		position: fixed;
		width: calc(100% - 2rem);
		height: calc(100% - 2rem);
		z-index: 99999999;
		margin: 1rem;

		background: repeating-linear-gradient(
		  -45deg,
		  $primary-color,
		  $primary-color 3px,
		  #fff 3px,
		  #fff 13px
		);
		mix-blend-mode: multiply;

		.in{
			width: 100%;
			height: 100%;
			position: absolute;
		}

		p{
			top: 50%;
			transform: translateY(-50%);
			position: relative;
			transform-origin: center;
			color: $primary-color;
			border: 2px solid $primary-color;
			font-size: 1.5rem;
			font-weight: bold;
			padding: 1rem;
			background: white;
			width: 400px;
			text-align: center;
			margin: auto;
		}
		/*
		.in {
			background-color: $gray-color;
			opacity: .7;
			margin: 1rem;
			width: calc(100% - 2rem);
			height: calc(100% - 2rem);
		}*/
	}

	
	#panel, .notification{
		//display: none;
		margin: var(--page-bleed);
	}
	

	.document{
		display: none;
	}

}