$panel-width: 15vw;


#panel{
  width: $panel-width;
  height: auto;
  position: fixed;
  bottom: 2rem;
  z-index: 99999;
  transition: all .2s ease-in-out;
  
  &.right{
    right: var(--page-bleed);

    #zoom{
      .slider{
        cursor: pointer;

        :focus{
          box-shadow: inherit;
        }
      }
    }
  }

  .divider{
    cursor: pointer;
    
      span {
      font-size: 0;
      line-height: 0;
      }
  }
}


.notification{
  width: $panel-width;
  height: auto;
  position: fixed;
  right: var(--page-bleed);
  z-index: 99999;
  transition: all .2s ease-in-out;
}

.collapse {
    height: 2rem !important;
    overflow: hidden;
}

.buttons {
  font-size: 0.8em;
  padding: 1em 0.6em;
  z-index: 100000;
  background: white;
  color: $gray-color;
  //position: fixed;
  position: relative;
  top: 10em;
  left: 10em;
  min-width: 120px;
  //border: 2px solid $gray-color;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;


  label {
    display: block; 
  }

   h2 {
    margin: 0;
    font-family: 'overpass';
    padding: 1em;
    font-size: 0.8em; 
  }

  input[type="color"] {
    //width: 50%;
  }

  input[type="color"], input {
    /*
    margin-left: 1em;
    margin-right: 0em;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 0;
    border: 1px solid transparent;
    display: block; */
  }
/*
    input[type="color"]::-webkit-color-swatch-wrapper,
    input::-webkit-color-swatch-wrapper {
      padding: 0; 
    }

    input[type="color"]::-webkit-color-swatch,
    input::-webkit-color-swatch {
      border: none; 
    }*/

    input[type="color"]:hover, 
    input[type="color"]:focus, 
    input[type="color"]:active,
    input:hover,
    input:focus,
    input:active {
      //border: 1px solid black; 
    }

  input[type="text"] {
    max-width: 90%;
    min-width: 90px;
  }

  input[type="range"] {
    //width: 80%; 
  }

  .form-input{
    max-width: calc( 100% - .8rem);
  }

  .slider:focus {
    box-shadow: none;
    outline: none;
  }

  label {
    margin-left: .4em;
    text-transform: uppercase;
    //margin-top: 1em;
    display: inline-block; 
  }

  #fc {
    margin-left: 3em;
    text-transform: uppercase;
    margin-top: 3em;
    margin-bottom: 3em; 
  }

  .colors, .background_tool, .export, .logo_tool, .page_poster, .zoom, #tutorial{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: .4rem;
    //grid-row-gap: 1rem;
  }

  .colors {

    input{
      max-width: inherit;
    }

    .color:nth-child(1n){
      grid-column: 1 / 4;
    }

    .color:nth-child(2n){
      grid-column: 4 / 7;
    }

    //specefic rules
    #colorMask{
      grid-column: 1 / 7;
      margin-top: 2rem;
    }
  }
}

.background_tool{

  *{
    grid-column: 1 / 7;
  }

  #hideBack{
    margin-bottom: 2rem;
  }

  #pattern{
    margin-top: 2rem;
  }
}

.export{

  *{
    grid-column: 1 / 7;
  }

  #hideBack{
    margin-bottom: 2rem;
  }

  #pattern{
    margin-top: 2rem;
  }
}

.logo_tool{
    *{
    grid-column: 1 / 7;
  }
}
.page_poster{

  *{
    width: 100%
  }

  .t_width{
    grid-column: 1 / 4;
  }
  .t_heigth{
    grid-column: 4 / 7;
  }
}

.zoom {
  #ZoomRange{
    grid-column: 1 / 5;
  }

  #ZoomReset{
    grid-column: 5 / 7;
  }
}

#tutorial{
  border-color: $gray-color !important;
  cursor: pointer;
  float: right;

  .tutorialAction{
    float: right;
    cursor: pointer;
    pointer-events: inherit;
  }
  
  svg {
    float: right;
    width: 1.5rem;
    margin: -.2rem 0 0 1rem;

    path{
      stroke: $gray-color-dark !important;
    }
  }
}

.remove {
  background: black;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0; }

.color {
  margin-top: 1em;
  margin-left: 0; }

.buttons {
  top: 0;
  left: 0; }

.hide *,
.hide {
  display: none !important; }

.nobefore:before {
  display: none; }

.noafter:after {
  display: none; }

.tint {
  opacity: 0.5; }