    <div class="buttons drag" id="page">
      <div class="handle">Page format</div>
      <label for="width">page width</label>
      <input class="size" id="width" name="page-width" value="20cm" type="text">
      <label for="height">page height</label>
      <input class="size" id="height" name="page-height" value="210mm" type="text">
      <label for="spine">spine width</label>
      <input class="size" id="spine" name="spine-width" value="20mm" type="text">
    </div>