:root {
  --color-back: #1aa4cf;
  --color-spine: black;
  --color-text: #eaeaea;
  --color-spine-text: white;
  --color-logo-back: white;
  --page-width: 148mm;
  --page-height: 210mm;
  --spine-width: 20mm;
  --paper-width: calc(var(--page-width) * 2 + var(--spine-width));
  --page-bleed: 5mm;
  --header-font: 'overpass';
  --text-font: 'Charis';
  --background-X: 0;
  --background-Y: 0;
  --background-size: calc(var(--page-width) * 2.5);
  --background-pattern: no-repeat; }



/* colors for the books */
@page {
  margin: 0;
  padding: 0; }

.page {
  margin: 0 auto;
  width: calc(var(--paper-width) + 20mm); }

.spread {
  margin: 0 auto;
  width: calc(var(--page-width) + var(--spine-width) + var(--page-width) + var(--page-bleed) + var(--page-bleed));
  height: calc(var(--page-height) + var(--page-bleed) + var(--page-bleed));
  align-self: center;
  background: var(--color-back);
  display: grid;
  grid-template-areas: ". . . . ." ". back spine front ." ". . . . .";
  grid-template-columns: var(--page-bleed) var(--page-width) var(--spine-width) var(--page-width) var(--page-bleed);
  grid-template-rows: var(--page-bleed) var(--page-height) var(--page-bleed);
  position: relative;
  border: 8px solid white;

  &:before, &:after {
    position: absolute;
    content: '';
    border: solid black;
    z-index: -1; 
  }
  &:before {
    top: calc(var(--page-bleed) * -1);
    bottom: calc(var(--page-bleed) * -1);
    left: var(--page-bleed);
    right: var(--page-bleed);
    border-width: 0 1px; 
  }
  &:after {
    left: calc(var(--page-bleed) * -1);
    right: calc(var(--page-bleed) * -1);
    top: var(--page-bleed);
    bottom: var(--page-bleed);
    border-width: 1px 0; 
  }
}

.background {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  background: var(--color-front);
  background-color: #269;
  background: none;
  background-position-y: var(--background-Y);
  background-position-x: var(--background-X);
  background-size: var(--background-size);
  background-repeat: var(--background-pattern);
  background-origin: top-right; }

.backcover {
  grid-area: back;
  position: relative;
  background-size: var(--background-size);
  background-position-x: calc(var(--background-X) - var(--page-width) - var(--spine-width));
  background-position-y: calc(var(--background-Y)); 

  .logos {
    bottom: 10mm;
    left: 5mm;
    right: 5mm;
    position: absolute;
    text-align: center;
    padding: 6mm 3mm; 

    .logo {
      display: inline-block;
      width: calc(var(--page-width)/6);
      height: calc(var(--page-width)/6);
      margin-right: 2mm;
      margin-left: 2mm;
      margin-bottom: 1mm;
      padding: 3mm;
      background: var(--color-logo-back);
      -o-object-fit: contain;
      object-fit: contain; 
    }
  }

  p {
    margin: 0 auto;
    position: absolute;
    top: 10mm;
    left: 10mm;
    right: 10mm;
    text-align: left;
    color: var(--color-text);
    font-size: calc(var(--page-width)/30 + 3px); 
  }
}

.spinecover {
  grid-area: spine;
  background-color: var(--color-spine);
  background-size: var(--background-size);
  background-position-x: calc(var(--background-X) - var(--spine-width));
  background-position-y: calc(var(--background-Y) - var(--spine-width));
  background-origin: border-box;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: calc(var(--page-bleed) * -1);
  position: relative;
  height: calc(var(--page-height) + var(--page-bleed) + var(--page-bleed));
  z-index: 200;
  color: var(--color-spine-text);

  &:before {
    position: absolute;
    content: '';
    border: 1px solid black;
    height: calc(var(--page-bleed) / 2);
    width: var(--spine-width);
    top: calc(var(--page-bleed) * -1);
    border-top: 0;
    border-bottom: 0; 
  }
  &:after {
    position: absolute;
    content: '';
    border: 1px solid black;
    height: calc(var(--page-bleed) / 2);
    width: var(--spine-width);
    bottom: calc(var(--page-bleed) * -1);
    border-top: 0;
    border-bottom: 0; 
  }
  p {
    margin: 0 auto;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-align: center;
    text-transform: uppercase;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; 
  }
}

.frontcover {
  background-size: var(--background-size);
  background-position-x: calc(var(--background-X));
  background-position-y: calc(var(--background-Y));
  grid-area: front;
  width: 100%;
  height: 100%;
  position: relative;
  color: white; 

  img {
    position: absolute;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--background-size); 
  }
  hgroup {
    position: absolute;
    left: calc(var(--page-width) / 12);
    bottom: calc(var(--page-height) / 24);
    position: absolute; 
    
    * {
      color: var(--color-text); 
    }

    h1 {
      font-weight: 600;
      font-size: 3.5em;
      line-height: 1;
      padding-right: 1em;
      margin-bottom: 0; 
    }
    .subtitle {
      font-size: 2em;
      width: 20ch;
      line-height: 1.2em;
      margin-top: 0;
      margin-left: -0.05em; 
    }
    p {
      margin-left: 0.2em;
      font-size: 1.5em;
      margin-top: 1em;
      margin-bottom: 1em;
      font-weight: 400; 
    }
  }

.version {
    position: absolute;
    top: 2em;
    right: 3em;
    font-style: italic;
    color: var(--color-front);
    font-size: 0.8em; 
  }
}

.spread.modif {
  width: var(--page-width);
  height: var(--page-height);
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden; }

.frontcover.modif {
  grid-area: back;
  margin-top: -5mm;
  margin-left: -5mm; }

.backcover.modif {
  grid-area: back;
  margin-top: -5mm;
  margin-left: -5mm; }

.background.modif {
  background-position-x: calc(var(--background-X) - var(--page-width) - var(--spine-width) - var(--page-bleed));
  overflow: hidden; }

.background.modifback {
  background-position-x: calc(var(--background-X) - var(--page-bleed));
  overflow: hidden; }


#back-demo {
  width: 100px;
  margin-left: 20px; }

.pattern {
  background-repeat: repeat; }

.backcover .logos .logo {
  position: relative; }

.repeat {
  background-repeat: repeat; }


@media print {
  .spread {
    margin: 0 auto; }
  .spine-width p {
    height: auto; } 
}
