:root {
  --color-back: #fff;
  --color-poster: #fff;
  --color-spine: black;
  --color-text: #333;
  --page-width: 210mm;
  --page-height: 297mm;
  --paper-width: var(--page-width);
  --page-bleed: 5mm;
  --header-font: 'overpass';
  --text-font: 'Charis';
}

.poster {
  background-size: var(--background-size);
  background-position-x: calc(var(--background-X));
  background-position-y: calc(var(--background-Y));
  grid-area: front;
  width: 100%;
  height: 100%;
  position: relative;
  color: black;

  width: calc(var(--page-width)); 
  height: calc(var(--page-height));
  border: 1px solid #d2d2d2;

  img {
    position: absolute;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--background-size); 
  }
  hgroup {
    position: absolute;
    left: calc(var(--page-width) / 12);
    bottom: calc(var(--page-height) / 24);
    position: absolute; 
    
    * {
      color: var(--color-text); 
    }

    h1 {
      font-weight: 600;
      font-size: 3.5em;
      line-height: 1;
      padding-right: 1em;
      margin-bottom: 0; 
    }
    .subtitle {
      font-size: 2em;
      width: 20ch;
      line-height: 1.2em;
      margin-top: 0;
      margin-left: -0.05em; 
    }
    p {
      margin-left: 0.2em;
      font-size: 1.5em;
      margin-top: 1em;
      margin-bottom: 1em;
      font-weight: 400; 
    }
  }
}

