@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-thin.eot");
  /* IE9 Compat Modes */
  src: url("fonts/overpass/overpass-thin.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-thin.woff2") format("woff2"), url("fonts/overpass/overpass-thin.woff") format("woff"), url("fonts/overpass/overpass-thin.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-thin-italic.eot");
  src: url("fonts/overpass/overpass-thin-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-thin-italic.woff2") format("woff2"), url("fonts/overpass/overpass-thin-italic.woff") format("woff"), url("fonts/overpass/overpass-thin-italic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-extralight.eot");
  src: url("fonts/overpass/overpass-extralight.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-extralight.woff2") format("woff2"), url("fonts/overpass/overpass-extralight.woff") format("woff"), url("fonts/overpass/overpass-extralight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-extralight-italic.eot");
  src: url("fonts/overpass/overpass-extralight-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-extralight-italic.woff2") format("woff2"), url("fonts/overpass/overpass-extralight-italic.woff") format("woff"), url("fonts/overpass/overpass-extralight-italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-light.eot");
  src: url("fonts/overpass/overpass-light.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-light.woff2") format("woff2"), url("fonts/overpass/overpass-light.woff") format("woff"), url("fonts/overpass/overpass-light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-light-italic.eot");
  src: url("fonts/overpass/overpass-light-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-light-italic.woff2") format("woff2"), url("fonts/overpass/overpass-light-italic.woff") format("woff"), url("fonts/overpass/overpass-light-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-regular.eot");
  src: url("fonts/overpass/overpass-regular.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-regular.woff2") format("woff2"), url("fonts/overpass/overpass-regular.woff") format("woff"), url("fonts/overpass/overpass-regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-italic.eot");
  src: url("fonts/overpass/overpass-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-italic.woff2") format("woff2"), url("fonts/overpass/overpass-italic.woff") format("woff"), url("fonts/overpass/overpass-italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-semibold.eot");
  src: url("fonts/overpass/overpass-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-semibold.woff2") format("woff2"), url("fonts/overpass/overpass-semibold.woff") format("woff"), url("fonts/overpass/overpass-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-semibold-italic.eot");
  src: url("fonts/overpass/overpass-semibold-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-semibold-italic.woff2") format("woff2"), url("fonts/overpass/overpass-semibold-italic.woff") format("woff"), url("fonts/overpass/overpass-semibold-italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-bold.eot");
  src: url("fonts/overpass/overpass-bold.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-bold.woff2") format("woff2"), url("fonts/overpass/overpass-bold.woff") format("woff"), url("fonts/overpass/overpass-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-bold-italic.eot");
  src: url("fonts/overpass/overpass-bold-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-bold-italic.woff2") format("woff2"), url("fonts/overpass/overpass-bold-italic.woff") format("woff"), url("fonts/overpass/overpass-bold-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-extrabold.eot");
  src: url("fonts/overpass/overpass-extrabold.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-extrabold.woff2") format("woff2"), url("fonts/overpass/overpass-extrabold.woff") format("woff"), url("fonts/overpass/overpass-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-extrabold-italic.eot");
  src: url("fonts/overpass/overpass-extrabold-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-extrabold-italic.woff2") format("woff2"), url("fonts/overpass/overpass-extrabold-italic.woff") format("woff"), url("fonts/overpass/overpass-extrabold-italic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-heavy.eot");
  src: url("fonts/overpass/overpass-heavy.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-heavy.woff2") format("woff2"), url("fonts/overpass/overpass-heavy.woff") format("woff"), url("fonts/overpass/overpass-heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-heavy-italic.eot");
  src: url("fonts/overpass/overpass-heavy-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-heavy-italic.woff2") format("woff2"), url("fonts/overpass/overpass-heavy-italic.woff") format("woff"), url("fonts/overpass/overpass-heavy-italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Charis';
  src: url("fonts/charis/charissil-bi-webfont.eot");
  src: url("fonts/charis/charissil-bi-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/charis/charissil-bi-webfont.woff2") format("woff2"), url("fonts/charis/charissil-bi-webfont.woff") format("woff"), url("fonts/charis/charissil-bi-webfont.ttf") format("truetype"), url("fonts/charis/charissil-bi-webfont.svg#charis_silbold_italic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Charis';
  src: url("fonts/charis/charissil-i-webfont.eot");
  src: url("fonts/charis/charissil-i-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/charis/charissil-i-webfont.woff2") format("woff2"), url("fonts/charis/charissil-i-webfont.woff") format("woff"), url("fonts/charis/charissil-i-webfont.ttf") format("truetype"), url("fonts/charis/charissil-i-webfont.svg#charis_silitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Charis';
  src: url("fonts/charis/charissil-b-webfont.eot");
  src: url("fonts/charis/charissil-b-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/charis/charissil-b-webfont.woff2") format("woff2"), url("fonts/charis/charissil-b-webfont.woff") format("woff"), url("fonts/charis/charissil-b-webfont.ttf") format("truetype"), url("fonts/charis/charissil-b-webfont.svg#charis_silbold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Charis';
  src: url("fonts/charis/charissil-r-webfont.eot");
  src: url("fonts/charis/charissil-r-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/charis/charissil-r-webfont.woff2") format("woff2"), url("fonts/charis/charissil-r-webfont.woff") format("woff"), url("fonts/charis/charissil-r-webfont.ttf") format("truetype"), url("fonts/charis/charissil-r-webfont.svg#charis_silregular") format("svg");
  font-weight: 400;
  font-style: normal; }

/* fontface */
/* colors for the books */
@page {
  margin: 0;
  padding: 0; }

.page {
  margin: 0 auto;
  width: calc(var(--paper-width) + 20mm); }

.spread {
  margin: 0 auto;
  width: calc(var(--page-width) + var(--spine-width) + var(--page-width) + var(--page-bleed) + var(--page-bleed));
  height: calc(var(--page-height) + var(--page-bleed) + var(--page-bleed));
  align-self: center;
  background: var(--color-back);
  display: grid;
  grid-template-areas: ". . . . ." ". back spine front ." ". . . . .";
  grid-template-columns: var(--page-bleed) var(--page-width) var(--spine-width) var(--page-width) var(--page-bleed);
  grid-template-rows: var(--page-bleed) var(--page-height) var(--page-bleed);
  position: relative;
  border: 8px solid white; }
  .spread:before, .spread:after {
    position: absolute;
    content: '';
    border: solid black;
    z-index: -1; }
  .spread:before {
    top: calc(var(--page-bleed) * -1);
    bottom: calc(var(--page-bleed) * -1);
    left: var(--page-bleed);
    right: var(--page-bleed);
    border-width: 0 1px; }
  .spread:after {
    left: calc(var(--page-bleed) * -1);
    right: calc(var(--page-bleed) * -1);
    top: var(--page-bleed);
    bottom: var(--page-bleed);
    border-width: 1px 0; }

.background {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  background: var(--color-front);
  background-color: #269;
  background: none;
  background-position-y: var(--background-Y);
  background-position-x: var(--background-X);
  background-size: var(--background-size);
  background-repeat: var(--background-pattern);
  background-origin: top-right; }

.backcover {
  grid-area: back;
  position: relative;
  background-size: var(--background-size);
  background-position-x: calc(var(--background-X) - var(--page-width) - var(--spine-width));
  background-position-y: calc(var(--background-Y)); }
  .backcover .logos {
    bottom: 10mm;
    left: 5mm;
    right: 5mm;
    position: absolute;
    text-align: center;
    padding: 6mm 3mm; }
    .backcover .logos .logo {
      display: inline-block;
      width: calc(var(--page-width)/6);
      height: calc(var(--page-width)/6);
      margin-right: 2mm;
      margin-left: 2mm;
      margin-bottom: 1mm;
      padding: 3mm;
      background: var(--color-logo-back);
      -o-object-fit: contain;
      object-fit: contain; }
  .backcover p {
    margin: 0 auto;
    position: absolute;
    top: 10mm;
    left: 10mm;
    right: 10mm;
    text-align: left;
    color: var(--color-text);
    font-size: calc(var(--page-width)/30 + 3px); }

.spinecover {
  grid-area: spine;
  background-color: var(--color-spine);
  background-size: var(--background-size);
  background-position-x: calc(var(--background-X) - var(--spine-width));
  background-position-y: calc(var(--background-Y) - var(--spine-width));
  background-origin: border-box;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: calc(var(--page-bleed) * -1);
  position: relative;
  height: calc(var(--page-height) + var(--page-bleed) + var(--page-bleed));
  z-index: 200;
  color: var(--color-spine-text); }
  .spinecover:before {
    position: absolute;
    content: '';
    border: 1px solid black;
    height: calc(var(--page-bleed) / 2);
    width: var(--spine-width);
    top: calc(var(--page-bleed) * -1);
    border-top: 0;
    border-bottom: 0; }
  .spinecover:after {
    position: absolute;
    content: '';
    border: 1px solid black;
    height: calc(var(--page-bleed) / 2);
    width: var(--spine-width);
    bottom: calc(var(--page-bleed) * -1);
    border-top: 0;
    border-bottom: 0; }
  .spinecover p {
    margin: 0 auto;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-align: center;
    text-transform: uppercase;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; }

.frontcover {
  background-size: var(--background-size);
  background-position-x: calc(var(--background-X));
  background-position-y: calc(var(--background-Y));
  grid-area: front;
  width: 100%;
  height: 100%;
  position: relative;
  color: white; }
  .frontcover img {
    position: absolute;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--background-size); }
  .frontcover hgroup {
    position: absolute;
    left: calc(var(--page-width) / 12);
    bottom: calc(var(--page-height) / 24);
    position: absolute; }
    .frontcover hgroup * {
      color: var(--color-text); }
    .frontcover hgroup h1 {
      font-weight: 600;
      font-size: 3.5em;
      line-height: 1;
      padding-right: 1em;
      margin-bottom: 0; }
    .frontcover hgroup .subtitle {
      font-size: 2em;
      width: 20ch;
      line-height: 1.2em;
      margin-top: 0;
      margin-left: -0.05em; }
    .frontcover hgroup p {
      margin-left: 0.2em;
      font-size: 1.5em;
      margin-top: 1em;
      margin-bottom: 1em;
      font-weight: 400; }
  .frontcover .version {
    position: absolute;
    top: 2em;
    right: 3em;
    font-style: italic;
    color: var(--color-front);
    font-size: 0.8em; }

.spread.modif {
  width: var(--page-width);
  height: var(--page-height);
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden; }

.frontcover.modif {
  grid-area: back;
  margin-top: -5mm;
  margin-left: -5mm; }

.backcover.modif {
  grid-area: back;
  margin-top: -5mm;
  margin-left: -5mm; }

.background.modif {
  background-position-x: calc(var(--background-X) - var(--page-width) - var(--spine-width) - var(--page-bleed));
  overflow: hidden; }

.background.modifback {
  background-position-x: calc(var(--background-X) - var(--page-bleed));
  overflow: hidden; }

.buttons {
  font-size: 0.8em;
  padding: 1em 0.6em;
  z-index: 100000;
  background: white;
  color: black;
  position: fixed;
  top: 10em;
  left: 10em;
  min-width: 120px;
  border: 5px solid black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .buttons .handle {
    position: absolute;
    background: black;
    color: white;
    text-transform: uppercase;
    top: -2em;
    width: 100%;
    left: -0.4em;
    padding: 0.4em;
    padding-bottom: 0;
    cursor: -webkit-grab;
    cursor: grab; }
  .buttons label {
    display: block; }
  .buttons h2 {
    margin: 0;
    font-family: 'overpass';
    padding: 1em;
    font-size: 0.8em; }
  .buttons input[type="color"] {
    float: left;
    margin-left: 2em !important; }
  .buttons button, .buttons #imgback {
    background: black;
    border: 2px solid white;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    color: white;
    padding: 1em;
    display: block;
    margin: 0 auto !important;
    margin-bottom: 1em !important;
    min-width: 80%; }
  .buttons input[type="color"],
  .buttons input {
    margin-left: 1em;
    margin-right: 0em;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 0;
    border: 4px solid transparent;
    display: block; }
    .buttons input[type="color"]::-webkit-color-swatch-wrapper,
    .buttons input::-webkit-color-swatch-wrapper {
      padding: 0; }
    .buttons input[type="color"]::-webkit-color-swatch,
    .buttons input::-webkit-color-swatch {
      border: none; }
    .buttons input[type="color"]:hover, .buttons input[type="color"]:focus, .buttons input[type="color"]:active,
    .buttons input:hover,
    .buttons input:focus,
    .buttons input:active {
      border: 4px solid black; }
  .buttons input[type="text"] {
    width: 100px;
    font-size: 1.3em;
    margin-top: 0;
    border: 0;
    border-bottom: 2px solid black;
    background: transparent; }
  .buttons input[type="range"] {
    width: 80%; }
  .buttons label {
    margin-left: 1em;
    text-transform: uppercase;
    margin-top: 1em;
    display: inline-block; }
  .buttons #fc {
    margin-left: 3em;
    text-transform: uppercase;
    margin-top: 3em;
    margin-bottom: 3em; }

#back-demo {
  width: 100px;
  margin-left: 20px; }

.pattern {
  background-repeat: repeat; }

.icon-bar {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 5000; }
  .icon-bar .icon {
    display: inline-block;
    padding: 0.1em 0.5em 0em;
    background: lightgrey;
    margin: 0;
    font-size: 1.5em;
    border: 2px solid black; }
  .icon-bar .active {
    background: black;
    color: white; }

.backcover .logos .logo {
  position: relative; }

.remove {
  background: black;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0; }

.color {
  margin-top: 1em;
  margin-left: 0; }

.buttons {
  top: 50%;
  left: 10%; }

.hide *,
.hide {
  display: none !important; }

.nobefore:before {
  display: none; }

.noafter:after {
  display: none; }

.repeat {
  background-repeat: repeat; }

.tint {
  opacity: 0.5; }

:root {
  --color-back: #1aa4cf;
  --color-spine: black;
  --color-text: #eaeaea;
  --color-spine-text: white;
  --color-logo-back: white;
  --page-width: 148mm;
  --page-height: 210mm;
  --spine-width: 20mm;
  --paper-width: calc(var(--page-width) * 2 + var(--spine-width));
  --page-bleed: 5mm;
  --header-font: 'overpass';
  --text-font: 'Charis';
  --background-X: 0;
  --background-Y: 0;
  --background-size: calc(var(--page-width) * 2.5);
  --background-pattern: no-repeat; }

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'overpass';
  /* using viewport unit to center */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

@media print {
  .buttons {
    display: none; }
  .ui {
    display: none; }
  .spread {
    margin: 0 auto; }
  .spine-width p {
    height: auto; } }
