@font-face {
    font-family: 'Patua';
    src: url('patuaone-regular-webfont.woff2') format('woff2'),
         url('patuaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
