{# First evaluate Base template, then verse this page#}
{% extends 'partials/base.html.twig' %}

{% set page = 'bar' %}


{% block head %}
{% endblock %}

{% block title %}Voici l'index{% endblock %}

{% block body %}
  {% for page in page %}
    <ul>
      <li>
        <a href="{{ page.url }}">{{ page.title }}</a>
        <a href="templates/_poster.html.twig">Poster</a> 
      </li>
    </ul>
  {% endfor %}
{% endblock %}

