html {
  height: 100%;
}

// Layout
.container {
	@include for-size(phone-only) {
	  padding-left: .8rem;
	  padding-right: .8rem;
	}

	@include for-size(tablet-portrait-up) {
	  padding-left: .8rem;
	  padding-right: .8rem;
	}
	@include for-size(tablet-landscape-up) {
	  padding-left: .4rem;
	  padding-right: .4rem;
	}
}


.content-title{
margin-bottom: 4rem;
}

.main-item{
  padding-top: 8em;
}

.article {
    margin-bottom: 8rem;
	
	@include for-size(phone-only) {
	    margin-bottom: 2rem;
	}

}

hr {
    border: none;
    margin: 4rem 0 4rem 0;
}


.areader-item .largerImg{
	position: relative;
	text-align: center;
	//margin-top: 3rem;
	//margin-bottom: 3rem;
	//max-height: 90vh;
	//max-width: 90vw !important;
	//width: 90vw !important;
	//margin-left: -45vw;
	//margin-right: -45vw;
	//left: 50%;
	//right: 50%;



	@include for-size(phone-only) {
		max-width: 100%;
		max-height: 90vh;
		margin: 2rem 0;
	}
	@include for-size(tablet-portrait-up) {
		max-width: 100%;
		max-height: 90vh;
		margin: 2rem 0;

	}

	@include for-size(tablet-landscape-up) {
		// Enlarge img + 8rem
		max-width: inherit;
		width: calc(100% + 8rem);
		margin: 3rem -4rem;
	}
}

.fittoImg {
	position: relative;
	width: auto;
	display: inline-block;
	text-align: center;
	height: 100%;
}

figure img {
    max-height: 87vh;
}

.main-item, .secondary-item {
	transition: all 0.3s ease;
}

.menu-open #footer{
	display: none;

}

.about-open #footer{
	display: none; 
}

.menu-open, .about-open{
	#header {
    	background: none;
    	transition: all 0.3s ease;
    	position: relative;
    	top: 0;
    	z-index: 2;
    }
    
    .main-item, .secondary-item, .divider, .ramdam {
    	visibility: collapse;
    	display: none;
    	transition: all 0.3s ease;
	}
}

.column{
  @include for-size(phone-only) {
    //padding: 0 1rem .0rem;
  }
}

	.columns.enlarge {
	    @include for-size(phone-only) {
    		width: 100%;
    		margin: 0;
  		}
	    @include for-size(tablet-portrait-up) {
    		width: 100%;
    		margin: 0;
  		}
	    @include for-size(tablet-landscape-up) {
    		width: calc(100% + 8rem);
	    	margin: 0 -4rem;
  		}
	}


.doubleImg {
    text-align: center;
    position: relative;

		
		@include for-size(phone-only) {
    		padding-left: 0rem !important;
			padding-right: 0rem !important;
			margin: 0;
  		}
	    @include for-size(tablet-portrait-up) {
    		padding-left: 0rem !important;
			padding-right: 0rem !important;
  		}
	    @include for-size(tablet-landscape-up) {
		    padding-left: 0.4rem !important;
			padding-right: 0.4rem !important;
  		}

}

.videoItem {
    text-align: center;

    @include for-size(phone-only) {
		max-width: 100%;
		max-height: 90vh;
		margin: 2rem 0;
	}
	@include for-size(tablet-portrait-up) {
		max-width: 100%;
		max-height: 90vh;
		margin: 2rem 0;

	}

	@include for-size(tablet-landscape-up) {
		// Enlarge img + 8rem
		max-width: inherit;
		width: calc(100% + 8rem);
		margin: 3rem -4rem;
	}



	video {
		width: 100%
	}
}



