.icon-bar {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 5000; }
  .icon-bar .icon {
    display: inline-block;
    padding: 0.1em 0.5em 0em;
    background: lightgrey;
    margin: 0;
    font-size: 1.5em;
    border: 2px solid black; }
  .icon-bar .active {
    background: black;
    color: white; }

.buttons {
  font-size: 0.8em;
  padding: 1em 0.6em;
  z-index: 100000;
  background: white;
  color: black;
  position: fixed;
  top: 10em;
  left: 10em;
  min-width: 120px;
  border: 5px solid black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .buttons .handle {
    position: absolute;
    background: black;
    color: white;
    text-transform: uppercase;
    top: -2em;
    width: 100%;
    left: -0.4em;
    padding: 0.4em;
    padding-bottom: 0;
    cursor: -webkit-grab;
    cursor: grab; }
  .buttons label {
    display: block; }
  .buttons h2 {
    margin: 0;
    font-family: 'overpass';
    padding: 1em;
    font-size: 0.8em; }
  .buttons input[type="color"] {
    float: left;
    margin-left: 2em !important; }
  .buttons button, .buttons #imgback {
    background: black;
    border: 2px solid white;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    color: white;
    padding: 1em;
    display: block;
    margin: 0 auto !important;
    margin-bottom: 1em !important;
    min-width: 80%; }
  .buttons input[type="color"],
  .buttons input {
    margin-left: 1em;
    margin-right: 0em;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 0;
    border: 4px solid transparent;
    display: block; }
    .buttons input[type="color"]::-webkit-color-swatch-wrapper,
    .buttons input::-webkit-color-swatch-wrapper {
      padding: 0; }
    .buttons input[type="color"]::-webkit-color-swatch,
    .buttons input::-webkit-color-swatch {
      border: none; }
    .buttons input[type="color"]:hover, .buttons input[type="color"]:focus, .buttons input[type="color"]:active,
    .buttons input:hover,
    .buttons input:focus,
    .buttons input:active {
      border: 4px solid black; }
  .buttons input[type="text"] {
    width: 100px;
    font-size: 1.3em;
    margin-top: 0;
    border: 0;
    border-bottom: 2px solid black;
    background: transparent; }
  .buttons input[type="range"] {
    width: 80%; }
  .buttons label {
    margin-left: 1em;
    text-transform: uppercase;
    margin-top: 1em;
    display: inline-block; }
  .buttons #fc {
    margin-left: 3em;
    text-transform: uppercase;
    margin-top: 3em;
    margin-bottom: 3em; }
