@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-thin.eot");
  /* IE9 Compat Modes */
  src: url("fonts/overpass/overpass-thin.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-thin.woff2") format("woff2"), url("fonts/overpass/overpass-thin.woff") format("woff"), url("fonts/overpass/overpass-thin.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-thin-italic.eot");
  src: url("fonts/overpass/overpass-thin-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-thin-italic.woff2") format("woff2"), url("fonts/overpass/overpass-thin-italic.woff") format("woff"), url("fonts/overpass/overpass-thin-italic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-extralight.eot");
  src: url("fonts/overpass/overpass-extralight.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-extralight.woff2") format("woff2"), url("fonts/overpass/overpass-extralight.woff") format("woff"), url("fonts/overpass/overpass-extralight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-extralight-italic.eot");
  src: url("fonts/overpass/overpass-extralight-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-extralight-italic.woff2") format("woff2"), url("fonts/overpass/overpass-extralight-italic.woff") format("woff"), url("fonts/overpass/overpass-extralight-italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-light.eot");
  src: url("fonts/overpass/overpass-light.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-light.woff2") format("woff2"), url("fonts/overpass/overpass-light.woff") format("woff"), url("fonts/overpass/overpass-light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-light-italic.eot");
  src: url("fonts/overpass/overpass-light-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-light-italic.woff2") format("woff2"), url("fonts/overpass/overpass-light-italic.woff") format("woff"), url("fonts/overpass/overpass-light-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-regular.eot");
  src: url("fonts/overpass/overpass-regular.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-regular.woff2") format("woff2"), url("fonts/overpass/overpass-regular.woff") format("woff"), url("fonts/overpass/overpass-regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-italic.eot");
  src: url("fonts/overpass/overpass-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-italic.woff2") format("woff2"), url("fonts/overpass/overpass-italic.woff") format("woff"), url("fonts/overpass/overpass-italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-semibold.eot");
  src: url("fonts/overpass/overpass-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-semibold.woff2") format("woff2"), url("fonts/overpass/overpass-semibold.woff") format("woff"), url("fonts/overpass/overpass-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-semibold-italic.eot");
  src: url("fonts/overpass/overpass-semibold-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-semibold-italic.woff2") format("woff2"), url("fonts/overpass/overpass-semibold-italic.woff") format("woff"), url("fonts/overpass/overpass-semibold-italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-bold.eot");
  src: url("fonts/overpass/overpass-bold.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-bold.woff2") format("woff2"), url("fonts/overpass/overpass-bold.woff") format("woff"), url("fonts/overpass/overpass-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-bold-italic.eot");
  src: url("fonts/overpass/overpass-bold-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-bold-italic.woff2") format("woff2"), url("fonts/overpass/overpass-bold-italic.woff") format("woff"), url("fonts/overpass/overpass-bold-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-extrabold.eot");
  src: url("fonts/overpass/overpass-extrabold.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-extrabold.woff2") format("woff2"), url("fonts/overpass/overpass-extrabold.woff") format("woff"), url("fonts/overpass/overpass-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-extrabold-italic.eot");
  src: url("fonts/overpass/overpass-extrabold-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-extrabold-italic.woff2") format("woff2"), url("fonts/overpass/overpass-extrabold-italic.woff") format("woff"), url("fonts/overpass/overpass-extrabold-italic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-heavy.eot");
  src: url("fonts/overpass/overpass-heavy.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-heavy.woff2") format("woff2"), url("fonts/overpass/overpass-heavy.woff") format("woff"), url("fonts/overpass/overpass-heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("fonts/overpass/overpass-heavy-italic.eot");
  src: url("fonts/overpass/overpass-heavy-italic.eot?#iefix") format("embedded-opentype"), url("fonts/overpass/overpass-heavy-italic.woff2") format("woff2"), url("fonts/overpass/overpass-heavy-italic.woff") format("woff"), url("fonts/overpass/overpass-heavy-italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Charis';
  src: url("fonts/charis/charissil-bi-webfont.eot");
  src: url("fonts/charis/charissil-bi-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/charis/charissil-bi-webfont.woff2") format("woff2"), url("fonts/charis/charissil-bi-webfont.woff") format("woff"), url("fonts/charis/charissil-bi-webfont.ttf") format("truetype"), url("fonts/charis/charissil-bi-webfont.svg#charis_silbold_italic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Charis';
  src: url("fonts/charis/charissil-i-webfont.eot");
  src: url("fonts/charis/charissil-i-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/charis/charissil-i-webfont.woff2") format("woff2"), url("fonts/charis/charissil-i-webfont.woff") format("woff"), url("fonts/charis/charissil-i-webfont.ttf") format("truetype"), url("fonts/charis/charissil-i-webfont.svg#charis_silitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Charis';
  src: url("fonts/charis/charissil-b-webfont.eot");
  src: url("fonts/charis/charissil-b-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/charis/charissil-b-webfont.woff2") format("woff2"), url("fonts/charis/charissil-b-webfont.woff") format("woff"), url("fonts/charis/charissil-b-webfont.ttf") format("truetype"), url("fonts/charis/charissil-b-webfont.svg#charis_silbold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Charis';
  src: url("fonts/charis/charissil-r-webfont.eot");
  src: url("fonts/charis/charissil-r-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/charis/charissil-r-webfont.woff2") format("woff2"), url("fonts/charis/charissil-r-webfont.woff") format("woff"), url("fonts/charis/charissil-r-webfont.ttf") format("truetype"), url("fonts/charis/charissil-r-webfont.svg#charis_silregular") format("svg");
  font-weight: 400;
  font-style: normal; }

/* fontface */